.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    background-color: #FAFAFA;
}

.part_1{
    flex-basis: 10%;
    flex-grow: 1;
    width: auto;
}

.tutorPersInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.nbReviews{
    margin: 0;
}


@media screen and (min-width: 992px)  {
    .main{
        flex-direction: row;
    }

    .tutorPersInfo{
        flex-basis: 80%;
    }
}

